<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.admin.dao.MenuMapper">
	<resultMap id="BaseResultMap" type="com.base.admin.entity.Menu">
		<id column="MENU_ID" jdbcType="DECIMAL" property="menuId" />
		<result column="UP_MENU_ID" jdbcType="DECIMAL" property="upMenuId" />
		<result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
		<result column="MENU_LEVEL" jdbcType="CHAR" property="menuLevel" />
		<result column="MENU_URL" jdbcType="VARCHAR" property="menuUrl" />
		<result column="MENU_ICON" jdbcType="VARCHAR" property="menuIcon" />
		<result column="MENU_SORT" jdbcType="DECIMAL" property="menuSort" />
		<result column="MENU_EXT_CODE" jdbcType="VARCHAR" property="menuExtCode" />
		<result column="MENU_INNER_CODE" jdbcType="VARCHAR" property="menuInnerCode" />
	</resultMap>
	<sql id="Base_Column_List">
		MENU_ID, UP_MENU_ID, MENU_NAME, MENU_LEVEL, MENU_URL,
		MENU_SORT,MENU_EXT_CODE,MENU_LEVEL_NAME,MENU_INNER_CODE,UP_MENU_NAME
	</sql>
	<select id="queryMenusForTree" parameterType="com.base.admin.entity.Menu"
		resultType="java.util.HashMap">
		select menu_id as id
		,menu_name as
		text,up_menu_id,menu_inner_code,view_menu_up_inner_code
		from
		VIEW_BASE_MENU
		<where>
			<if test="menuLevel !=null">
				menu_level=#{menuLevel} OR MENU_ID=0
			</if>
		</where>
		ORDER BY MENU_SORT,MENU_ID
	</select>
	<select id="queryMenusForList" parameterType="com.base.admin.entity.User"
		resultType="java.util.HashMap">
		SELECT T.POST_ID,PU.USER_ID,M.* FROM BASE_POST_MENU T
		LEFT JOIN
		BASE_POST_USER PU ON PU.POST_ID=T.POST_ID
		LEFT JOIN VIEW_BASE_MENU M ON
		M.MENU_ID = T.MENU_ID
		<where>
			<if test="userId !=null">
				PU.USER_ID=#{userId}
			</if>
		</where>
		ORDER BY M.MENU_LEVEL,M.MENU_SORT,M.MENU_ID

	</select>
	<select id="queryMenusForPage" parameterType="com.base.admin.entity.Menu"
		resultType="java.util.HashMap">
		SELECT * FROM ( SELECT A.*,ROWNUM num FROM (
		select
		<include refid="Base_Column_List" />
		from VIEW_BASE_MENU
		where menu_id!=0
		<if test="upMenuId != null">
			and UP_MENU_ID = #{upMenuId}
		</if>
		<if test="keyWord != null">
			AND MENU_NAME like '%${keyWord}%'
		</if>
		<if test="menuInnerCode != null and menuInnerCode!=''">
			AND MENU_ID IN (${menuInnerCode})
		</if>
		order by MENU_SORT,MENU_ID
		) A WHERE ROWNUM<![CDATA[<=]]>(${currPage}*${pageSize})
		) WHERE num<![CDATA[>=]]>
		(1+(${currPage}-1)*${pageSize})
	</select>
	<select id="queryCountOfMenusForPage" parameterType="com.base.admin.entity.Menu"
		resultType="java.lang.Integer">
		select count(t.menu_id) from VIEW_BASE_MENU t
		where menu_id!=0
		<if test="upMenuId != null">
			and UP_MENU_ID = #{upMenuId}
		</if>
		<if test="keyWord != null">
			AND MENU_NAME like '%${keyWord}%'
		</if>
		<if test="menuInnerCode != null and menuInnerCode!=''">
			AND MENU_ID IN (${menuInnerCode})
		</if>
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="com.base.admin.entity.Menu">
		delete from
		BASE_MENU
		where MENU_ID in (${ids})
	</delete>
	<insert id="insertSelective" parameterType="com.base.admin.entity.Menu">
		insert into BASE_MENU
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="menuId != null">
				MENU_ID,
			</if>
			<if test="upMenuId != null">
				UP_MENU_ID,
			</if>
			<if test="menuName != null">
				MENU_NAME,
			</if>
			<if test="menuLevel != null">
				MENU_LEVEL,
			</if>
			<if test="menuUrl != null">
				MENU_URL,
			</if>
			<if test="menuSort != null">
				MENU_SORT,
			</if>
			<if test="menuExtCode != null">
				MENU_EXT_CODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="menuId != null">
				BASE_MENU_SEQ.nextval,
			</if>
			<if test="upMenuId != null">
				#{upMenuId,jdbcType=DECIMAL},
			</if>
			<if test="menuName != null">
				#{menuName,jdbcType=VARCHAR},
			</if>
			<if test="menuLevel != null">
				#{menuLevel,jdbcType=CHAR},
			</if>
			<if test="menuUrl != null">
				#{menuUrl,jdbcType=VARCHAR},
			</if>
			<if test="menuSort != null">
				#{menuSort,jdbcType=DECIMAL},
			</if>
			<if test="menuExtCode != null">
				#{menuExtCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.base.admin.entity.Menu">
		update BASE_MENU
		<set>
			<if test="upMenuId != null">
				UP_MENU_ID = #{upMenuId,jdbcType=DECIMAL},
			</if>
			<if test="menuName != null">
				MENU_NAME = #{menuName,jdbcType=VARCHAR},
			</if>
			<if test="menuLevel != null">
				MENU_LEVEL = #{menuLevel,jdbcType=CHAR},
			</if>
			<if test="menuUrl != null">
				MENU_URL = #{menuUrl,jdbcType=VARCHAR},
			</if>
			<if test="menuSort != null">
				MENU_SORT = #{menuSort,jdbcType=DECIMAL},
			</if>
			<if test="menuExtCode != null">
				MENU_EXT_CODE = #{menuExtCode,jdbcType=VARCHAR},
			</if>
		</set>
		where MENU_ID = #{menuId,jdbcType=DECIMAL}
	</update>

	<update id="updataInnerData">
		update base_menu m set
		m.menu_inner_code=(select
		v.view_menu_inner_code from view_base_menu v where
		v.menu_id=m.menu_id)
	</update>

</mapper>