<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.admin.dao.PostMenuMapper">
	<resultMap id="BaseResultMap" type="com.base.admin.entity.PostMenu">
		<id column="MENU_ID" jdbcType="DECIMAL" property="menuId" />
		<id column="POST_ID" jdbcType="DECIMAL" property="postId" />
	</resultMap>
	<select id="selectSelectedMenusForTree" parameterType="com.base.admin.entity.PostMenu"
		resultType="java.util.HashMap">
		select menu_id as id
		,menu_name as
		text,up_menu_id,menu_inner_code,view_menu_up_inner_code,menu_sort
		from
		VIEW_BASE_MENU WHERE MENU_ID=0
		UNION
		select menu_id as id
		,menu_name as
		text,up_menu_id,menu_inner_code,view_menu_up_inner_code,menu_sort
		from
		VIEW_BASE_POST_MENU
		<where>
			<if test="postId !=null">
				AND POST_ID=#{postId}
			</if>
		</where>
		ORDER BY MENU_SORT
	</select>
	<select id="selectCountByPrimaryKey" parameterType="com.base.admin.entity.PostMenu"
		resultType="java.lang.Integer">
		select COUNT(1) from BASE_POST_MENU
		<where>
			<if test="postId !=null">
				AND POST_ID=#{postId}
			</if>
			<if test="menuId !=null">
				AND MENU_ID=#{menuId}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="com.base.admin.entity.PostMenu">
		delete from
		BASE_POST_MENU
		where MENU_ID in (${ids})
		and POST_ID =
		#{postId,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.base.admin.entity.PostMenu">
		insert into BASE_POST_MENU
		(MENU_ID, POST_ID)
		VALUES(#{menuId},#{postId})
	</insert>
</mapper>