<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.admin.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.base.admin.entity.User">
		<id column="USER_ID" jdbcType="DECIMAL" property="userId" />
		<result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
		<result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
		<result column="USER_DEPT_ID" jdbcType="DECIMAL" property="userDeptId" />
		<result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
		<result column="USER_SORT" jdbcType="VARCHAR" property="userSort" />
		<result column="USER_LOCK_FLAG" jdbcType="VARCHAR" property="userLockFlag" />
		<result column="USER_USE_FLAG" jdbcType="VARCHAR" property="userUseFlag" />
	</resultMap>
	<sql id="Base_Column_List">
		USER_ID, USER_NAME, USER_CODE, USER_DEPT_ID, USER_PHONE,
		USER_SORT,USER_PASS_WORD,USER_LOCK_FLAG,USER_USE_FLAG
	</sql>
	<select id="selectUsersForList" parameterType="com.base.admin.entity.User"
		resultType="com.base.admin.entity.User">
		select * from BASE_USER
		<where>
			<if test="userCode != null and userCode !=''">
				AND USER_CODE = #{userCode}
			</if>
			<if test="userPassWord != null and userPassWord !=''">
				AND USER_PASS_WORD = #{userPassWord}
			</if>
		</where>
		order by USER_SORT,USER_ID
	</select>
	<select id="selectUsersForPage" parameterType="com.base.admin.entity.User"
		resultType="java.util.HashMap">
		SELECT * FROM ( SELECT A.*,ROWNUM num FROM (
		select USER_ID, USER_NAME,
		USER_CODE, USER_DEPT_ID, USER_PHONE,
		USER_SORT,USER_DEPT_NAME,USER_PASS_WORD,USER_LOCK_FLAG,USER_USE_FLAG,
		USER_LOCK_FLAG_NAME,USER_USE_FLAG_NAME
		from
		VIEW_BASE_USER
		<where>
			<if test="userDeptId != null and userDeptId !=''">
				and USER_DEPT_ID = #{userDeptId}
			</if>
			<if test="keyWord != null">
				AND (USER_NAME like '%${keyWord}%' OR USER_CODE like
				'%${keyWord}%')
			</if>
		</where>
		order by USER_SORT,USER_ID
		) A WHERE ROWNUM<![CDATA[<=]]>(${currPage}*${pageSize})
		) WHERE num<![CDATA[>=]]>
		(1+(${currPage}-1)*${pageSize})
	</select>
	<select id="selectCountOfUsersForPage" parameterType="com.base.admin.entity.User"
		resultType="java.lang.Integer">
		select COUNT(1)
		from
		VIEW_BASE_USER
		<where>
			<if test="userDeptId != null and userDeptId !=''">
				and USER_DEPT_ID = #{userDeptId}
			</if>
			<if test="keyWord != null">
				AND (USER_NAME like '%${keyWord}%' OR USER_CODE like
				'%${keyWord}%')
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKeys">
		delete from
		BASE_USER
		where USER_ID in
		<foreach item="userId" index="index" collection="array" open="("
			separator="," close=")">
			#{userId}
		</foreach>
	</delete>
	<insert id="insertSelective" parameterType="com.base.admin.entity.User">
		insert into BASE_USER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="userName != null">
				USER_NAME,
			</if>
			<if test="userCode != null">
				USER_CODE,
			</if>
			<if test="userDeptId != null">
				USER_DEPT_ID,
			</if>
			<if test="userPhone != null">
				USER_PHONE,
			</if>
			<if test="userSort != null">
				USER_SORT,
			</if>
			<if test="userPassWord != null">
				USER_PASS_WORD,
			</if>
			<if test="userLockFlag != null">
				USER_LOCK_FLAG,
			</if>
			<if test="userUseFlag != null">
				USER_USE_FLAG,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				BASE_USER_SEQ.nextval,
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userCode != null">
				#{userCode,jdbcType=VARCHAR},
			</if>
			<if test="userDeptId != null">
				#{userDeptId,jdbcType=DECIMAL},
			</if>
			<if test="userPhone != null">
				#{userPhone,jdbcType=VARCHAR},
			</if>
			<if test="userSort != null">
				#{userSort,jdbcType=VARCHAR},
			</if>
			<if test="userPassWord != null">
				#{userPassWord,jdbcType=VARCHAR},
			</if>
			<if test="userLockFlag != null">
				#{userLockFlag,jdbcType=VARCHAR},
			</if>
			<if test="userUseFlag != null">
				#{userUseFlag,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeysSelective" parameterType="com.base.admin.entity.User">
		update BASE_USER
		<set>
			<if test="userName != null">
				USER_NAME = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userCode != null">
				USER_CODE = #{userCode,jdbcType=VARCHAR},
			</if>
			<if test="userDeptId != null">
				USER_DEPT_ID = #{userDeptId,jdbcType=DECIMAL},
			</if>
			<if test="userPhone != null">
				USER_PHONE = #{userPhone,jdbcType=VARCHAR},
			</if>
			<if test="userSort != null">
				USER_SORT = #{userSort,jdbcType=VARCHAR},
			</if>
			<if test="userPassWord != null">
				USER_PASS_WORD=#{userPassWord,jdbcType=VARCHAR},
			</if>
			<if test="userLockFlag != null">
				USER_LOCK_FLAG=#{userLockFlag,jdbcType=VARCHAR},
			</if>
			<if test="userUseFlag != null">
				USER_USE_FLAG=#{userUseFlag,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			<if test="userId != null and userId !=''">
				USER_ID = #{userId,jdbcType=DECIMAL}
			</if>
			<if test="ids != null and ids !=''">
				USER_ID in (${ids})
			</if>
		</where>
	</update>
</mapper>