<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqj.dao.BatchMapper">
	<resultMap id="BaseResultMap" type="com.gqj.entity.Batch">
		<id column="BATCH_ID" jdbcType="DECIMAL" property="batchId" />
		<result column="BATCH_CODE" jdbcType="VARCHAR" property="batchCode" />
		<result column="BATCH_TYPE" jdbcType="DECIMAL" property="batchType" />
		<result column="BATCH_COUNT" jdbcType="DECIMAL" property="batchCount" />
		<result column="BATCH_DEPT_ID" jdbcType="DECIMAL" property="batchDeptId" />
		<result column="BATCH_CREATE_USER_ID" jdbcType="DECIMAL"
			property="batchCreateUserId" />
		<result column="BATCH_CREATE_TIME" jdbcType="TIMESTAMP"
			property="batchCreateTime" />
		<result column="BATCH_CONFIRM_USER_ID" jdbcType="DECIMAL"
			property="batchConfirmUserId" />
		<result column="BATCH_CONFIRM_TIME" jdbcType="TIMESTAMP"
			property="batchConfirmTime" />
		<result column="BATCH_TAKE_DEPT_ID" jdbcType="DECIMAL"
			property="batchTakeDeptId" />
		<result column="BATCH_TAKE_USER_ID" jdbcType="DECIMAL"
			property="batchTakeUserId" />
		<result column="BATCH_TAKE_TIME" jdbcType="TIMESTAMP" property="batchTakeTime" />
		<result column="BATCH_REMARK" jdbcType="VARCHAR" property="batchRemark" />
	</resultMap>
	<sql id="Base_Column_List">
		BATCH_ID, BATCH_CODE, BATCH_TYPE, BATCH_COUNT,
		BATCH_DEPT_ID,
		BATCH_CREATE_USER_ID,
		BATCH_CREATE_TIME,
		BATCH_CONFIRM_USER_ID, BATCH_CONFIRM_TIME, BATCH_TAKE_DEPT_ID,
		BATCH_TAKE_USER_ID, BATCH_TAKE_TIME, BATCH_REMARK,
		BATCH_DEPT_NAME,BATCH_CREATE_USER_NAME,
		BATCH_CONFIRM_USER_NAME,BATCH_TAKE_USER_NAME,BATCH_TAKE_DEPT_NAME,
		BATCH_RETURN_USER_ID,BATCH_RETURN_USER_NAME

	</sql>
	<select id="selectBatchsForObject" parameterType="com.gqj.entity.Batch"
		resultMap="BaseResultMap">
		select
		BATCH_ID, BATCH_CODE, BATCH_TYPE, BATCH_COUNT,
		BATCH_DEPT_ID,
		BATCH_CREATE_USER_ID,
		BATCH_CREATE_TIME,
		BATCH_CONFIRM_USER_ID,
		BATCH_CONFIRM_TIME, BATCH_TAKE_DEPT_ID,
		BATCH_TAKE_USER_ID,
		BATCH_TAKE_TIME, BATCH_REMARK
		from GQJ_BATCH
		<where>
			<if test="batchCode != null">
				AND BATCH_CODE = #{batchCode}
			</if>
			<if test="batchId != null">
				AND BATCH_ID = #{batchId}
			</if>
		</where>
		order by BATCH_ID
	</select>
	<select id="selectBatchsForPage" parameterType="com.gqj.entity.Batch"
		resultType="java.util.HashMap">
		SELECT * FROM ( SELECT A.*,ROWNUM num FROM (
		select
		<include refid="Base_Column_List" />
		from VIEW_GQJ_BATCH
		<where>
			<if test="batchDeptId != null">
				and BATCH_DEPT_ID = #{batchDeptId}
			</if>
			<if test="batchTakeDeptId != null">
				and BATCH_TAKE_DEPT_ID = #{batchTakeDeptId}
			</if>
			<if test="batchType != null">
				and BATCH_TYPE = #{batchType}
			</if>
			<if test="keyWord != null">
				AND BATCH_CODE like '%${keyWord}%'
			</if>
			<if test="batchCode != null">
				AND BATCH_CODE = #{batchCode}
			</if>
		</where>
		order by BATCH_ID DESC
		) A WHERE ROWNUM<![CDATA[<=]]>(${currPage}*${pageSize})
		) WHERE num<![CDATA[>=]]>
		(1+(${currPage}-1)*${pageSize})
	</select>
	<select id="selectCountOfBatchsForPage" parameterType="com.gqj.entity.Batch"
		resultType="java.lang.Integer">
		select count(t.BATCH_ID) from VIEW_GQJ_BATCH t
		<where>
			<if test="batchDeptId != null">
				and BATCH_DEPT_ID = #{batchDeptId}
			</if>
			<if test="batchTakeDeptId != null">
				and BATCH_TAKE_DEPT_ID = #{batchTakeDeptId}
			</if>
			<if test="batchType != null">
				and BATCH_TYPE = #{batchType}
			</if>
			<if test="keyWord != null">
				AND BATCH_CODE like '%${keyWord}%'
			</if>
			<if test="batchCode != null">
				AND BATCH_CODE = #{batchCode}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="com.gqj.entity.Batch">
		delete from
		GQJ_BATCH
		<where>
			<if test="ids != null">
				and BATCH_ID in (${ids})
			</if>
			<if test="batchId != null">
				and BATCH_ID = #{batchId}
			</if>
		</where>
	</delete>
	<insert id="insertSelective" parameterType="com.gqj.entity.Batch">
		<selectKey resultType="java.lang.Long" order="BEFORE"
			keyProperty="batchId">
			select GQJ_BATCH_SEQ.nextval from dual
		</selectKey>
		insert into GQJ_BATCH
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="batchId != null">
				BATCH_ID,
			</if>
			<if test="batchCode != null">
				BATCH_CODE,
			</if>
			<if test="batchType != null">
				BATCH_TYPE,
			</if>
			<if test="batchCount != null">
				BATCH_COUNT,
			</if>
			<if test="batchDeptId != null">
				BATCH_DEPT_ID,
			</if>
			<if test="batchCreateUserId != null">
				BATCH_CREATE_USER_ID,
			</if>
			<if test="batchCreateTime != null">
				BATCH_CREATE_TIME,
			</if>
			<if test="batchConfirmUserId != null">
				BATCH_CONFIRM_USER_ID,
			</if>
			<if test="batchConfirmTime != null">
				BATCH_CONFIRM_TIME,
			</if>
			<if test="batchTakeDeptId != null">
				BATCH_TAKE_DEPT_ID,
			</if>
			<if test="batchTakeUserId != null">
				BATCH_TAKE_USER_ID,
			</if>
			<if test="batchTakeTime != null">
				BATCH_TAKE_TIME,
			</if>
			<if test="batchRemark != null">
				BATCH_REMARK,
			</if>
			<if test="batchReturnUserId != null">
				BATCH_RETURN_USER_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="batchId != null">
				#{batchId},
			</if>
			<if test="batchCode != null">
				#{batchCode,jdbcType=VARCHAR},
			</if>
			<if test="batchType != null">
				#{batchType,jdbcType=DECIMAL},
			</if>
			<if test="batchCount != null">
				#{batchCount,jdbcType=DECIMAL},
			</if>
			<if test="batchDeptId != null">
				#{batchDeptId,jdbcType=DECIMAL},
			</if>
			<if test="batchCreateUserId != null">
				#{batchCreateUserId,jdbcType=DECIMAL},
			</if>
			<if test="batchCreateTime != null">
				#{batchCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="batchConfirmUserId != null">
				#{batchConfirmUserId,jdbcType=DECIMAL},
			</if>
			<if test="batchConfirmTime != null">
				#{batchConfirmTime,jdbcType=TIMESTAMP},
			</if>
			<if test="batchTakeDeptId != null">
				#{batchTakeDeptId,jdbcType=DECIMAL},
			</if>
			<if test="batchTakeUserId != null">
				#{batchTakeUserId,jdbcType=DECIMAL},
			</if>
			<if test="batchTakeTime != null">
				#{batchTakeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="batchRemark != null">
				#{batchRemark,jdbcType=VARCHAR},
			</if>
			<if test="batchReturnUserId != null">
				#{batchReturnUserId,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.gqj.entity.Batch">
		update GQJ_BATCH
		<set>
			<if test="batchCode != null">
				BATCH_CODE = #{batchCode,jdbcType=VARCHAR},
			</if>
			<if test="batchType != null">
				BATCH_TYPE = #{batchType,jdbcType=DECIMAL},
			</if>
			<if test="batchCount != null">
				BATCH_COUNT = #{batchCount,jdbcType=DECIMAL},
			</if>
			<if test="batchDeptId != null">
				BATCH_DEPT_ID = #{batchDeptId,jdbcType=DECIMAL},
			</if>
			<if test="batchCreateUserId != null">
				BATCH_CREATE_USER_ID =
				#{batchCreateUserId,jdbcType=DECIMAL},
			</if>
			<if test="batchCreateTime != null">
				BATCH_CREATE_TIME =
				#{batchCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="batchConfirmUserId != null">
				BATCH_CONFIRM_USER_ID =
				#{batchConfirmUserId,jdbcType=DECIMAL},
			</if>
			<if test="batchConfirmTime != null">
				BATCH_CONFIRM_TIME =
				#{batchConfirmTime,jdbcType=TIMESTAMP},
			</if>
			<if test="batchTakeDeptId != null">
				BATCH_TAKE_DEPT_ID = #{batchTakeDeptId,jdbcType=DECIMAL},
			</if>
			<if test="batchTakeUserId != null">
				BATCH_TAKE_USER_ID = #{batchTakeUserId,jdbcType=DECIMAL},
			</if>
			<if test="batchReturnUserId != null">
				BATCH_RETURN_USER_ID =
				#{batchReturnUserId,jdbcType=DECIMAL},
			</if>
			<if test="batchTakeTime != null">
				BATCH_TAKE_TIME = #{batchTakeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="batchRemark != null">
				BATCH_REMARK = #{batchRemark,jdbcType=VARCHAR},
			</if>
		</set>
		where BATCH_ID = #{batchId,jdbcType=DECIMAL}
	</update>
</mapper>