<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqj.dao.CheckDetailMapper">
  <resultMap id="BaseResultMap" type="com.gqj.entity.CheckDetail">
    <result column="DETAIL_ID" jdbcType="DECIMAL" property="detailId" />
    <result column="CHECK_STATUS" jdbcType="VARCHAR" property="checkStatus" />
    <result column="TOOL_ID" jdbcType="DECIMAL" property="toolId" />
    <result column="TOOL_CODE" jdbcType="VARCHAR" property="toolCode" />
    <result column="BATCH_ID" jdbcType="DECIMAL" property="batchId" />
    <result column="TOOL_BOX" jdbcType="VARCHAR" property="toolBox" />
    <result column="TOOL_STATUS" jdbcType="DECIMAL" property="toolStatus" />
    <result column="TOOL_DEPT_ID" jdbcType="DECIMAL" property="toolDeptId" />
    <result column="TOOL_REMARK" jdbcType="VARCHAR" property="toolRemark" />
    <result column="TOOL_TEST_DATE" jdbcType="TIMESTAMP" property="toolTestDate" />
    <result column="TOOL_REJECT_DATE" jdbcType="TIMESTAMP" property="toolRejectDate" />
    <result column="TOOL_TEST_DATE_CIRCLE" jdbcType="DECIMAL" property="toolTestDateCircle" />
    <result column="TOOL_NEXT_TEST_DATE" jdbcType="TIMESTAMP" property="toolNextTestDate" />
    <result column="TOOL_MANUFACTURE_DATE" jdbcType="TIMESTAMP" property="toolManufactureDate" />
    <result column="TOOL_PURCHASE_DATE" jdbcType="TIMESTAMP" property="toolPurchaseDate" />
    <result column="STORE_ID" jdbcType="DECIMAL" property="storeId" />
    <result column="STORE_NAME" jdbcType="VARCHAR" property="storeName" />
    <result column="POS_ID" jdbcType="DECIMAL" property="posId" />
    <result column="POS_NAME" jdbcType="VARCHAR" property="posName" />
    <result column="BASE_TOOL_ID" jdbcType="DECIMAL" property="baseToolId" />
    <result column="BASE_TOOL_NAME" jdbcType="VARCHAR" property="baseToolName" />
    <result column="BASE_TOOL_MODEL" jdbcType="VARCHAR" property="baseToolModel" />
    <result column="BASE_TOOL_SPEC" jdbcType="VARCHAR" property="baseToolSpec" />
    <result column="BASE_TOOL_EARTH_WIRE" jdbcType="DECIMAL" property="baseToolEarthWire" />
    <result column="BASE_TOOL_TYPE_ID" jdbcType="DECIMAL" property="baseToolTypeId" />
    <result column="BASE_TOOL_TYPE_NAME" jdbcType="VARCHAR" property="baseToolTypeName" />
    <result column="BASE_TOOL_MANUFACTURER_ID" jdbcType="DECIMAL" property="baseToolManufacturerId" />
    <result column="BASE_TOOL_MANUFACTURER_NAME" jdbcType="VARCHAR" property="baseToolManufacturerName" />
    <result column="TOOL_DEPT_NAME" jdbcType="VARCHAR" property="toolDeptName" />
  </resultMap>
  <insert id="insert" parameterType="com.gqj.entity.CheckDetail">
    insert into VIEW_GQJ_CHECK_DETAIL (DETAIL_ID, CHECK_STATUS, TOOL_ID, 
      TOOL_CODE, BATCH_ID, TOOL_BOX, 
      TOOL_STATUS, TOOL_DEPT_ID, TOOL_REMARK, 
      TOOL_TEST_DATE, TOOL_REJECT_DATE, TOOL_TEST_DATE_CIRCLE, 
      TOOL_NEXT_TEST_DATE, TOOL_MANUFACTURE_DATE, 
      TOOL_PURCHASE_DATE, STORE_ID, STORE_NAME, 
      POS_ID, POS_NAME, BASE_TOOL_ID, 
      BASE_TOOL_NAME, BASE_TOOL_MODEL, BASE_TOOL_SPEC, 
      BASE_TOOL_EARTH_WIRE, BASE_TOOL_TYPE_ID, BASE_TOOL_TYPE_NAME, 
      BASE_TOOL_MANUFACTURER_ID, BASE_TOOL_MANUFACTURER_NAME, 
      TOOL_DEPT_NAME)
    values (#{detailId,jdbcType=DECIMAL}, #{checkStatus,jdbcType=VARCHAR}, #{toolId,jdbcType=DECIMAL}, 
      #{toolCode,jdbcType=VARCHAR}, #{batchId,jdbcType=DECIMAL}, #{toolBox,jdbcType=VARCHAR}, 
      #{toolStatus,jdbcType=DECIMAL}, #{toolDeptId,jdbcType=DECIMAL}, #{toolRemark,jdbcType=VARCHAR}, 
      #{toolTestDate,jdbcType=TIMESTAMP}, #{toolRejectDate,jdbcType=TIMESTAMP}, #{toolTestDateCircle,jdbcType=DECIMAL}, 
      #{toolNextTestDate,jdbcType=TIMESTAMP}, #{toolManufactureDate,jdbcType=TIMESTAMP}, 
      #{toolPurchaseDate,jdbcType=TIMESTAMP}, #{storeId,jdbcType=DECIMAL}, #{storeName,jdbcType=VARCHAR}, 
      #{posId,jdbcType=DECIMAL}, #{posName,jdbcType=VARCHAR}, #{baseToolId,jdbcType=DECIMAL}, 
      #{baseToolName,jdbcType=VARCHAR}, #{baseToolModel,jdbcType=VARCHAR}, #{baseToolSpec,jdbcType=VARCHAR}, 
      #{baseToolEarthWire,jdbcType=DECIMAL}, #{baseToolTypeId,jdbcType=DECIMAL}, #{baseToolTypeName,jdbcType=VARCHAR}, 
      #{baseToolManufacturerId,jdbcType=DECIMAL}, #{baseToolManufacturerName,jdbcType=VARCHAR}, 
      #{toolDeptName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gqj.entity.CheckDetail">
    insert into VIEW_GQJ_CHECK_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        DETAIL_ID,
      </if>
      <if test="checkStatus != null">
        CHECK_STATUS,
      </if>
      <if test="toolId != null">
        TOOL_ID,
      </if>
      <if test="toolCode != null">
        TOOL_CODE,
      </if>
      <if test="batchId != null">
        BATCH_ID,
      </if>
      <if test="toolBox != null">
        TOOL_BOX,
      </if>
      <if test="toolStatus != null">
        TOOL_STATUS,
      </if>
      <if test="toolDeptId != null">
        TOOL_DEPT_ID,
      </if>
      <if test="toolRemark != null">
        TOOL_REMARK,
      </if>
      <if test="toolTestDate != null">
        TOOL_TEST_DATE,
      </if>
      <if test="toolRejectDate != null">
        TOOL_REJECT_DATE,
      </if>
      <if test="toolTestDateCircle != null">
        TOOL_TEST_DATE_CIRCLE,
      </if>
      <if test="toolNextTestDate != null">
        TOOL_NEXT_TEST_DATE,
      </if>
      <if test="toolManufactureDate != null">
        TOOL_MANUFACTURE_DATE,
      </if>
      <if test="toolPurchaseDate != null">
        TOOL_PURCHASE_DATE,
      </if>
      <if test="storeId != null">
        STORE_ID,
      </if>
      <if test="storeName != null">
        STORE_NAME,
      </if>
      <if test="posId != null">
        POS_ID,
      </if>
      <if test="posName != null">
        POS_NAME,
      </if>
      <if test="baseToolId != null">
        BASE_TOOL_ID,
      </if>
      <if test="baseToolName != null">
        BASE_TOOL_NAME,
      </if>
      <if test="baseToolModel != null">
        BASE_TOOL_MODEL,
      </if>
      <if test="baseToolSpec != null">
        BASE_TOOL_SPEC,
      </if>
      <if test="baseToolEarthWire != null">
        BASE_TOOL_EARTH_WIRE,
      </if>
      <if test="baseToolTypeId != null">
        BASE_TOOL_TYPE_ID,
      </if>
      <if test="baseToolTypeName != null">
        BASE_TOOL_TYPE_NAME,
      </if>
      <if test="baseToolManufacturerId != null">
        BASE_TOOL_MANUFACTURER_ID,
      </if>
      <if test="baseToolManufacturerName != null">
        BASE_TOOL_MANUFACTURER_NAME,
      </if>
      <if test="toolDeptName != null">
        TOOL_DEPT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        #{detailId,jdbcType=DECIMAL},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="toolId != null">
        #{toolId,jdbcType=DECIMAL},
      </if>
      <if test="toolCode != null">
        #{toolCode,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=DECIMAL},
      </if>
      <if test="toolBox != null">
        #{toolBox,jdbcType=VARCHAR},
      </if>
      <if test="toolStatus != null">
        #{toolStatus,jdbcType=DECIMAL},
      </if>
      <if test="toolDeptId != null">
        #{toolDeptId,jdbcType=DECIMAL},
      </if>
      <if test="toolRemark != null">
        #{toolRemark,jdbcType=VARCHAR},
      </if>
      <if test="toolTestDate != null">
        #{toolTestDate,jdbcType=TIMESTAMP},
      </if>
      <if test="toolRejectDate != null">
        #{toolRejectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="toolTestDateCircle != null">
        #{toolTestDateCircle,jdbcType=DECIMAL},
      </if>
      <if test="toolNextTestDate != null">
        #{toolNextTestDate,jdbcType=TIMESTAMP},
      </if>
      <if test="toolManufactureDate != null">
        #{toolManufactureDate,jdbcType=TIMESTAMP},
      </if>
      <if test="toolPurchaseDate != null">
        #{toolPurchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=DECIMAL},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="posId != null">
        #{posId,jdbcType=DECIMAL},
      </if>
      <if test="posName != null">
        #{posName,jdbcType=VARCHAR},
      </if>
      <if test="baseToolId != null">
        #{baseToolId,jdbcType=DECIMAL},
      </if>
      <if test="baseToolName != null">
        #{baseToolName,jdbcType=VARCHAR},
      </if>
      <if test="baseToolModel != null">
        #{baseToolModel,jdbcType=VARCHAR},
      </if>
      <if test="baseToolSpec != null">
        #{baseToolSpec,jdbcType=VARCHAR},
      </if>
      <if test="baseToolEarthWire != null">
        #{baseToolEarthWire,jdbcType=DECIMAL},
      </if>
      <if test="baseToolTypeId != null">
        #{baseToolTypeId,jdbcType=DECIMAL},
      </if>
      <if test="baseToolTypeName != null">
        #{baseToolTypeName,jdbcType=VARCHAR},
      </if>
      <if test="baseToolManufacturerId != null">
        #{baseToolManufacturerId,jdbcType=DECIMAL},
      </if>
      <if test="baseToolManufacturerName != null">
        #{baseToolManufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="toolDeptName != null">
        #{toolDeptName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>