<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqj.dao.HomePageMapper">
	<select id="selectNeedReturnToolsForPage" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		SELECT * FROM ( SELECT A.*,ROWNUM num FROM (
		select * from
		view_gqj_tool v where v.tool_id in (
		select t.tool_id
		from
		GQJ_TOOL_TRACK t
		where
		<if test="tool_dept_id != null">
			t.tool_dept_id = #{tool_dept_id}
		</if>
		and t.tool_status=8
		group by t.tool_id
		minus
		select t2.tool_id from
		gqj_tool t2
		where t2.tool_status=1
		<if test="tool_dept_id != null">
			and t2.tool_dept_id = #{tool_dept_id}
		</if>
		)
		<if test="keyWord != null">
			and v.tool_code like '%${keyWord}%'
		</if>
		order by v.TOOL_ID
		) A WHERE ROWNUM<![CDATA[<=]]>(${currPage}*${pageSize})
		) WHERE num<![CDATA[>=]]>
		(1+(${currPage}-1)*${pageSize})
	</select>
	<select id="selectCountOfNeedReturnToolsForPage" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		select count(*) from
		view_gqj_tool v where v.tool_id in (
		select t.tool_id
		from
		GQJ_TOOL_TRACK t
		where
		<if test="tool_dept_id != null">
			t.tool_dept_id = #{tool_dept_id}
		</if>
		and t.tool_status=8
		group by t.tool_id
		minus
		select t2.tool_id from
		gqj_tool t2
		where t2.tool_status=1
		<if test="tool_dept_id != null">
			and t2.tool_dept_id = #{tool_dept_id}
		</if>
		)
	</select>
</mapper>