<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqj.dao.MaterialInventoryMapper">
	<resultMap id="BaseResultMap" type="com.gqj.entity.MaterialInventory">
		<id column="STORE_ID" jdbcType="DECIMAL" property="storeId" />
		<id column="BASE_TOOL_ID" jdbcType="DECIMAL" property="baseToolId" />
		<id column="POS_ID" jdbcType="DECIMAL" property="posId" />
		<result column="INVENT_AMOUNT" jdbcType="DECIMAL" property="inventAmount" />
	</resultMap>
	<sql id="Base_Column_List">
		INVENT_AMOUNT,DETAIL_BILL_AMOUNT,
		STORE_ID, STORE_NAME,
		BASE_TOOL_ID,BASE_TOOL_NAME,BASE_TOOL_MODEL,BASE_TOOL_SPEC,
		POS_ID,POS_NAME,STORE_DEPT_ID,
		MAN_ID,BASE_TOOL_MANUFACTURER_NAME,
		BASE_TOOL_TYPE_ID,BASE_TOOL_TYPE_NAME
	</sql>
	<select id="selectMaterialInventorysForList" parameterType="com.gqj.entity.MaterialInventory"
		resultType="java.util.HashMap">
		select STORE_ID,POS_ID,BASE_TOOL_ID,INVENT_AMOUNT
		from
		GQJ_MATERIAL_INVENTORY
		<where>
			<if test="storeId != null">
				and STORE_ID =
				#{storeId,jdbcType=DECIMAL}
			</if>
			<if test="posId != null">
				and POS_ID =
				#{posId,jdbcType=DECIMAL}
			</if>
			<if test="baseToolId != null">
				and BASE_TOOL_ID =
				#{baseToolId,jdbcType=DECIMAL}
			</if>
		</where>
		order by BASE_TOOL_ID desc
	</select>
	<select id="selectMaterialInventorysForPage" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		SELECT * FROM ( SELECT A.*,ROWNUM num FROM (
		select
		<include refid="Base_Column_List" />
		from VIEW_GQJ_MATERIAL_INVENTORY
		<where>
			<if test="keyWord != null">
				AND BASE_TOOL_NAME like '%${keyWord}%'
			</if>
			<if test="baseToolModel != null">
				AND BASE_TOOL_MODEL like '%${baseToolModel}%'
			</if>
			<if test="baseToolSpec != null">
				AND BASE_TOOL_SPEC like '%${baseToolSpec}%'
			</if>
			<if test="storeDeptId != null">
				and STORE_DEPT_ID =
				#{storeDeptId,jdbcType=DECIMAL}
			</if>
			<if test="storeId != null and storeId != ''">
				and STORE_ID =
				#{storeId,jdbcType=DECIMAL}
			</if>
			<if test="posId != null and posId != ''">
				and POS_ID =
				#{posId,jdbcType=DECIMAL}
			</if>
			<if test="baseToolTypeId != null and baseToolTypeId != ''">
				and BASE_TOOL_TYPE_ID =
				#{baseToolTypeId,jdbcType=DECIMAL}
			</if>
			<if test="manufacturerId != null and manufacturerId != ''">
				and MAN_ID =
				#{manufacturerId,jdbcType=DECIMAL}
			</if>
		</where>
		order by BASE_TOOL_ID desc
		) A WHERE ROWNUM<![CDATA[<=]]>(${currPage}*${pageSize})
		) WHERE num<![CDATA[>=]]>
		(1+(${currPage}-1)*${pageSize})
	</select>
	<select id="selectCountOfMaterialInventorysForPage"
		parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*)
		from VIEW_GQJ_MATERIAL_INVENTORY
		<where>
			<if test="keyWord != null">
				AND BASE_TOOL_NAME like '%${keyWord}%'
			</if>
			<if test="baseToolModel != null">
				AND BASE_TOOL_MODEL like '%${baseToolModel}%'
			</if>
			<if test="baseToolSpec != null">
				AND BASE_TOOL_SPEC like '%${baseToolSpec}%'
			</if>
			<if test="storeDeptId != null">
				and STORE_DEPT_ID =
				#{storeDeptId,jdbcType=DECIMAL}
			</if>
			<if test="storeId != null and storeId != ''">
				and STORE_ID =
				#{storeId,jdbcType=DECIMAL}
			</if>
			<if test="posId != null and posId != ''">
				and POS_ID =
				#{posId,jdbcType=DECIMAL}
			</if>
			<if test="baseToolTypeId != null and baseToolTypeId != ''">
				and BASE_TOOL_TYPE_ID =
				#{baseToolTypeId,jdbcType=DECIMAL}
			</if>
			<if test="manufacturerId != null and manufacturerId != ''">
				and MAN_ID =
				#{manufacturerId,jdbcType=DECIMAL}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="com.gqj.entity.MaterialInventory">
		delete from
		GQJ_MATERIAL_INVENTORY
		where STORE_ID = #{storeId,jdbcType=DECIMAL}
		and
		BASE_TOOL_ID = #{baseToolId,jdbcType=DECIMAL}
		and POS_ID = #{posId}
	</delete>
	<insert id="insertSelective" parameterType="com.gqj.entity.MaterialInventory">
		insert into GQJ_MATERIAL_INVENTORY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="storeId != null">
				STORE_ID,
			</if>
			<if test="posId != null">
				POS_ID,
			</if>
			<if test="baseToolId != null">
				BASE_TOOL_ID,
			</if>
			<if test="inventAmount != null">
				INVENT_AMOUNT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="storeId != null">
				#{storeId,jdbcType=DECIMAL},
			</if>
			<if test="posId != null">
				#{posId,jdbcType=DECIMAL},
			</if>
			<if test="baseToolId != null">
				#{baseToolId,jdbcType=DECIMAL},
			</if>
			<if test="inventAmount != null">
				#{inventAmount,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.gqj.entity.MaterialInventory">
		update GQJ_MATERIAL_INVENTORY
		<set>
			<if test="inventAmount != null">
				INVENT_AMOUNT = #{inventAmount,jdbcType=DECIMAL},
			</if>
		</set>
		where STORE_ID = #{storeId,jdbcType=DECIMAL}
		and BASE_TOOL_ID =
		#{baseToolId,jdbcType=DECIMAL}
		and POS_ID =
		#{posId,jdbcType=DECIMAL}
	</update>
</mapper>