<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqj.dao.ToolForPlanMapper">
	<resultMap id="BaseResultMap" type="com.gqj.entity.ToolForPlan">
		<id column="TOOL_ID" jdbcType="DECIMAL" property="toolId" />
		<result column="TYPE_ID" jdbcType="DECIMAL" property="typeId" />
		<result column="TOOL_NAME" jdbcType="VARCHAR" property="toolName" />
		<result column="TOOL_STANDARD_CONFIG_DEMAND" jdbcType="VARCHAR" property="toolSpec" />
		<result column="TOOL_MODEL_DEMAND" jdbcType="VARCHAR" property="toolModel" />
		<result column="TOOL_UNIT" jdbcType="DECIMAL" property="toolUnit" />
		<result column="TOOL_REMARK" jdbcType="VARCHAR" property="toolRemark" />
	</resultMap>
	<sql id="Base_Column_List">
		TOOL_ID, TYPE_ID, TOOL_NAME, TOOL_STANDARD_CONFIG_DEMAND,
		TOOL_MODEL_DEMAND,
		TOOL_UNIT,
		TOOL_REMARK,TOOL_TYPE_NAME,TOOL_UNIT_NAME
	</sql>
	<select id="selectToolForPlansForPage" parameterType="com.gqj.entity.ToolForPlan"
		resultType="java.util.HashMap">
		SELECT * FROM ( SELECT A.*,ROWNUM num FROM (
		select
		<include refid="Base_Column_List" />
		from VIEW_GQJ_TOOL_FOR_PLAN
		<where>
			<if test="keyWord != null">
				AND TOOL_NAME like '%${keyWord}%'
			</if>
			<if test="typeId != null and typeId != ''">
				AND TYPE_ID=#{typeId}
			</if>
		</where>
		order by TOOL_ID DESC
		) A WHERE ROWNUM<![CDATA[<=]]>(${currPage}*${pageSize})
		) WHERE num<![CDATA[>=]]>
		(1+(${currPage}-1)*${pageSize})
	</select>
	<select id="selectCountOfToolForPlansForPage" parameterType="com.gqj.entity.ToolForPlan"
		resultType="java.lang.Integer">
		select count(t.TOOL_ID) from VIEW_GQJ_TOOL_FOR_PLAN t
		<where>
			<if test="keyWord != null">
				AND TOOL_NAME like '%${keyWord}%'
			</if>
			<if test="typeId != null and typeId != ''">
				AND TYPE_ID=#{typeId}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="java.lang.String">
		delete from
		GQJ_TOOL_FOR_PLAN
		where TOOL_ID in #{ids}
	</delete>
	<insert id="insertSelective" parameterType="com.gqj.entity.ToolForPlan">
		insert into GQJ_TOOL_FOR_PLAN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="toolId != null">
				TOOL_ID,
			</if>
			<if test="typeId != null">
				TYPE_ID,
			</if>
			<if test="toolName != null">
				TOOL_NAME,
			</if>
			<if test="toolStandardConfigDemand != null">
				TOOL_STANDARD_CONFIG_DEMAND,
			</if>
			<if test="toolModelDemand != null">
				TOOL_MODEL_DEMAND,
			</if>
			<if test="toolUnit != null">
				TOOL_UNIT,
			</if>
			<if test="toolRemark != null">
				TOOL_REMARK,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="toolId != null">
				GQJ_TOOL_FOR_PLAN_SEQ.nextval,
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=DECIMAL},
			</if>
			<if test="toolName != null">
				#{toolName,jdbcType=VARCHAR},
			</if>
			<if test="toolStandardConfigDemand != null">
				#{toolStandardConfigDemand,jdbcType=VARCHAR},
			</if>
			<if test="toolModelDemand != null">
				#{toolModelDemand,jdbcType=VARCHAR},
			</if>
			<if test="toolUnit != null">
				#{toolUnit,jdbcType=DECIMAL},
			</if>
			<if test="toolRemark != null">
				#{toolRemark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.gqj.entity.ToolForPlan">
		update GQJ_TOOL_FOR_PLAN
		<set>
			<if test="typeId != null">
				TYPE_ID = #{typeId,jdbcType=DECIMAL},
			</if>
			<if test="toolName != null">
				TOOL_NAME = #{toolName,jdbcType=VARCHAR},
			</if>
			<if test="toolStandardConfigDemand != null">
				TOOL_STANDARD_CONFIG_DEMAND = #{toolStandardConfigDemand,jdbcType=VARCHAR},
			</if>
			<if test="toolModelDemand != null">
				TOOL_MODEL_DEMAND = #{toolModelDemand,jdbcType=VARCHAR},
			</if>
			<if test="toolUnit != null">
				TOOL_UNIT = #{toolUnit,jdbcType=DECIMAL},
			</if>
			<if test="toolRemark != null">
				TOOL_REMARK = #{toolRemark,jdbcType=VARCHAR},
			</if>
		</set>
		where TOOL_ID = #{toolId,jdbcType=DECIMAL}
	</update>
</mapper>