<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bpbj.dao.BPBJPlugInMapper">
	<resultMap id="BaseResultMap" type="com.bpbj.entity.PlugIn">
		<id column="PLUGIN_ID" jdbcType="DECIMAL" property="plugInId" />
		<result column="PLUGIN_CODE" jdbcType="VARCHAR" property="plugInCode" />
		<result column="STORE_ID" jdbcType="DECIMAL" property="storeId" />
		<result column="POS_ID" jdbcType="DECIMAL" property="posId" />
		<result column="PLUGIN_STATUS" jdbcType="DECIMAL" property="plugInStatus" />
		<result column="PLUGIN_DEPT_ID" jdbcType="DECIMAL" property="plugInDeptId" />
		<result column="PLUGIN_REMARK" jdbcType="VARCHAR" property="plugInRemark" />
		<result column="PLUGIN_MAN_DATE" jdbcType="TIMESTAMP" property="plugInManDate" />
		<result column="BASE_TOOL_ID" jdbcType="DECIMAL" property="baseToolId" />
	</resultMap>
	<sql id="Base_Column_List">
		PLUGIN_ID, PLUGIN_CODE, STORE_ID, POS_ID,
		PLUGIN_STATUS,
		PLUGIN_DEPT_ID, PLUGIN_REMARK, BASE_TOOL_ID,
		STORE_NAME,POS_NAME,BASE_TOOL_NAME, MAN_NAME,
		BASE_TOOL_MODEL,BASE_TOOL_SPEC,BASE_TOOL_UNIT,
		BASE_TOOL_STATION,PLUGIN_MAN_DATE
	</sql>
	<select id="selectPlugInForObject" parameterType="com.bpbj.entity.PlugIn"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		VIEW_BPBJ_PLUGIN
		<where>
			<if test="plugInCode != null">
				AND PLUGIN_CODE=#{plugInCode}
			</if>
		</where>
		order by PLUGIN_ID
	</select>
	<select id="selectPlugInsForList" parameterType="com.bpbj.entity.PlugIn"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		VIEW_BPBJ_PLUGIN
		<where>
			<if test="batchId != null">
				AND BATCH_ID=#{batchId}
			</if>
		</where>
		order by PLUGIN_ID
	</select>
	<select id="selectPlugInsForPageByBaseTool" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		SELECT * FROM ( SELECT A.*,ROWNUM num FROM (
		select
		a.base_tool_amount,bt.*,m.man_name from (
		select t.base_tool_id ,count(*) as
		base_tool_amount from BPBJ_PLUGIN t
		<where>
			<if test="plugin_dept_id != null and plugin_dept_id != ''">
				and PLUGIN_DEPT_ID =
				#{plugin_dept_id,jdbcType=DECIMAL}
			</if>
		</where>
		group by t.base_tool_id) a
		left join bpbj_base_tool bt on
		bt.base_tool_id = a.base_tool_id
		left join bpbj_manufacturer m on m.man_id = bt.man_id
		<where>
			<if test="baseToolModel != null and baseToolModel!=''">
				AND bt.BASE_TOOL_MODEL like '%${baseToolModel}%'
			</if>
			<if test="baseToolSpec != null and baseToolSpec!=''">
				AND bt.BASE_TOOL_SPEC like '%${baseToolSpec}%'
			</if>
			<if test="manId != null and manId != ''">
				and bt.MAN_ID =
				#{manId,jdbcType=DECIMAL}
			</if>
		</where>
		order by bt.BASE_TOOL_ID
		) A WHERE ROWNUM<![CDATA[<=]]>(${currPage}*${pageSize})
		) WHERE num<![CDATA[>=]]>
		(1+(${currPage}-1)*${pageSize})
	</select>
	<select id="selectCountOfPlugInsForPageByBaseTool"
		parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from (
		select t.base_tool_id ,count(*) as
		base_tool_amount from BPBJ_PLUGIN t
		<where>
			<if test="plugin_dept_id != null and plugin_dept_id != ''">
				and PLUGIN_DEPT_ID =
				#{plugin_dept_id,jdbcType=DECIMAL}
			</if>
		</where>
		group by t.base_tool_id) a
		left join bpbj_base_tool bt on
		bt.base_tool_id = a.base_tool_id
		left join bpbj_manufacturer m on m.man_id = bt.man_id
		<where>
			<if test="baseToolModel != null and baseToolModel!=''">
				AND bt.BASE_TOOL_MODEL like '%${baseToolModel}%'
			</if>
			<if test="baseToolSpec != null and baseToolSpec!=''">
				AND bt.BASE_TOOL_SPEC like '%${baseToolSpec}%'
			</if>
			<if test="manId != null and manId != ''">
				and bt.MAN_ID =
				#{manId,jdbcType=DECIMAL}
			</if>
		</where>
	</select>
	<select id="selectPlugInsForPage" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		SELECT * FROM ( SELECT A.*,ROWNUM num FROM (
		select
		<include refid="Base_Column_List" />
		from VIEW_BPBJ_PLUGIN
		<where>
			<if test="keyWord != null">
				AND PLUGIN_CODE like '%${keyWord}%'
			</if>
			<if test="storeId != null and storeId !=''">
				and STORE_ID =
				#{storeId,jdbcType=DECIMAL}
			</if>
			<if test="posId != null and posId != ''">
				and POS_ID =
				#{posId,jdbcType=DECIMAL}
			</if>
			<if test="baseToolModel != null and baseToolModel!=''">
				AND BASE_TOOL_MODEL like '%${baseToolModel}%'
			</if>
			<if test="baseToolSpec != null and baseToolSpec!=''">
				AND BASE_TOOL_SPEC like '%${baseToolSpec}%'
			</if>
			<if test="manId != null and manId != ''">
				and MAN_ID =
				#{manId,jdbcType=DECIMAL}
			</if>
			<if test="plugInDeptId != null">
				and PLUGIN_DEPT_ID =
				#{plugInDeptId,jdbcType=DECIMAL}
			</if>
			<if test="plugInStatus != null">
				and PLUGIN_STATUS =
				#{plugInStatus,jdbcType=DECIMAL}
			</if>
		</where>
		order by PLUGIN_ID
		) A WHERE ROWNUM<![CDATA[<=]]>(${currPage}*${pageSize})
		) WHERE num<![CDATA[>=]]>
		(1+(${currPage}-1)*${pageSize})
	</select>
	<select id="selectCountOfPlugInsForPage" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		select count(t.PLUGIN_ID) from VIEW_BPBJ_PLUGIN t
		<where>
			<if test="keyWord != null">
				AND PLUGIN_CODE like '%${keyWord}%'
			</if>
			<if test="storeId != null and storeId !=''">
				and STORE_ID =
				#{storeId,jdbcType=DECIMAL}
			</if>
			<if test="posId != null and posId != ''">
				and POS_ID =
				#{posId,jdbcType=DECIMAL}
			</if>
			<if test="baseToolTypeId != null and baseToolTypeId!=''">
				and BASE_TOOL_TYPE_ID =
				#{baseToolTypeId,jdbcType=DECIMAL}
			</if>
			<if test="baseToolModel != null and baseToolModel!=''">
				AND BASE_TOOL_MODEL like '%${baseToolModel}%'
			</if>
			<if test="baseToolSpec != null and baseToolSpec!=''">
				AND BASE_TOOL_SPEC like '%${baseToolSpec}%'
			</if>
			<if test="manId != null and manId != ''">
				and MAN_ID =
				#{manufacturerId,jdbcType=DECIMAL}
			</if>
			<if test="plugInDeptId != null">
				and PLUGIN_DEPT_ID =
				#{plugInDeptId,jdbcType=DECIMAL}
			</if>
			<if test="plugInStatus != null">
				and PLUGIN_STATUS =
				#{plugInStatus,jdbcType=DECIMAL}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="com.bpbj.entity.PlugIn">
		delete from
		BPBJ_PLUGIN
		<where>
			<if test="ids != null">
				and PLUGIN_ID in (${ids})
			</if>
			<if test="plugInId != null">
				AND PLUGIN_ID=#{plugInId}
			</if>
			<if test="batchId != null">
				AND BATCH_ID=#{batchId}
			</if>
		</where>
	</delete>
	<insert id="insertSelective" parameterType="com.bpbj.entity.PlugIn">
		<selectKey resultType="java.lang.Long" order="BEFORE"
			keyProperty="plugInId">
			select BPBJ_PLUGIN_SEQ.nextval from dual
		</selectKey>
		insert into BPBJ_PLUGIN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="plugInId != null">
				PLUGIN_ID,
			</if>
			<if test="plugInCode != null">
				PLUGIN_CODE,
			</if>
			<if test="storeId != null">
				STORE_ID,
			</if>
			<if test="posId != null">
				POS_ID,
			</if>
			<if test="batchId != null">
				BATCH_ID,
			</if>
			<if test="plugInStatus != null">
				PLUGIN_STATUS,
			</if>
			<if test="plugInDeptId != null">
				PLUGIN_DEPT_ID,
			</if>
			<if test="plugInManDate != null">
				PLUGIN_MAN_DATE,
			</if>
			<if test="plugInRemark != null">
				PLUGIN_REMARK,
			</if>
			<if test="baseToolId != null">
				BASE_TOOL_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="plugInId != null">
				#{plugInId},
			</if>
			<if test="plugInCode != null">
				#{plugInCode,jdbcType=VARCHAR},
			</if>
			<if test="storeId != null">
				#{storeId,jdbcType=DECIMAL},
			</if>
			<if test="posId != null">
				#{posId,jdbcType=DECIMAL},
			</if>
			<if test="batchId != null">
				#{batchId,jdbcType=DECIMAL},
			</if>
			<if test="plugInStatus != null">
				#{plugInStatus,jdbcType=DECIMAL},
			</if>
			<if test="plugInDeptId != null">
				#{plugInDeptId,jdbcType=DECIMAL},
			</if>
			<if test="plugInManDate != null">
				#{plugInManDate,jdbcType=TIMESTAMP},
			</if>
			<if test="plugInRemark != null">
				#{plugInRemark,jdbcType=VARCHAR},
			</if>
			<if test="baseToolId != null">
				#{baseToolId,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bpbj.entity.PlugIn">
		update BPBJ_PLUGIN
		<set>
			<if test="plugInCode != null">
				PLUGIN_CODE = #{plugInCode,jdbcType=VARCHAR},
			</if>
			<if test="storeId != null">
				STORE_ID = #{storeId,jdbcType=DECIMAL},
			</if>
			<if test="posId != null">
				POS_ID = #{posId,jdbcType=DECIMAL},
			</if>
			<if test="batchId != null">
				BATCH_ID = #{batchId,jdbcType=DECIMAL},
			</if>
			<if test="plugInStatus != null">
				PLUGIN_STATUS = #{plugInStatus,jdbcType=DECIMAL},
			</if>
			<if test="plugInDeptId != null">
				PLUGIN_DEPT_ID = #{plugInDeptId,jdbcType=DECIMAL},
			</if>
			<if test="plugInManDate != null">
				PLUGIN_MAN_DATE =
				#{plugInManDate,jdbcType=TIMESTAMP},
			</if>
			<if test="plugInRemark != null">
				PLUGIN_REMARK = #{plugInRemark,jdbcType=VARCHAR},
			</if>
			<if test="baseToolId != null">
				BASE_TOOL_ID = #{baseToolId,jdbcType=DECIMAL},
			</if>
		</set>
		<where>
			<if test="plugInId != null">
				and PLUGIN_ID = #{plugInId}
			</if>
		</where>
	</update>
	<update id="updatePlugInByBatch" parameterType="com.bpbj.entity.PlugIn">
		update BPBJ_PLUGIN
		<set>
			<if test="plugInCode != null">
				PLUGIN_CODE = #{plugInCode,jdbcType=VARCHAR},
			</if>
			<if test="storeId != null">
				STORE_ID = #{storeId,jdbcType=DECIMAL},
			</if>
			<if test="posId != null">
				POS_ID = #{posId,jdbcType=DECIMAL},
			</if>
			<if test="batchId != null">
				BATCH_ID = #{batchId,jdbcType=DECIMAL},
			</if>
			<if test="plugInStatus != null">
				PLUGIN_STATUS = #{plugInStatus,jdbcType=DECIMAL},
			</if>
			<if test="plugInDeptId != null">
				PLUGIN_DEPT_ID = #{plugInDeptId,jdbcType=DECIMAL},
			</if>
			<if test="plugInManDate != null">
				PLUGIN_MAN_DATE =
				#{plugInManDate,jdbcType=TIMESTAMP},
			</if>
			<if test="plugInRemark != null">
				PLUGIN_REMARK = #{plugInRemark,jdbcType=VARCHAR},
			</if>
			<if test="baseToolId != null">
				BASE_TOOL_ID = #{baseToolId,jdbcType=DECIMAL},
			</if>
		</set>
		<where>
			<if test="batchId != null">
				and BATCH_ID = #{batchId}
			</if>
		</where>
	</update>
</mapper>