<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bpbj.dao.BPBJPlugInTrackMapper">
	<resultMap id="BaseResultMap" type="com.bpbj.entity.PlugInTrack">
		<id column="TRACK_ID" jdbcType="DECIMAL" property="trackId" />
		<result column="PLUGIN_ID" jdbcType="DECIMAL" property="plugInId" />
		<result column="STORE_ID" jdbcType="DECIMAL" property="storeId" />
		<result column="POS_ID" jdbcType="DECIMAL" property="posId" />
		<result column="BATCH_ID" jdbcType="DECIMAL" property="batchId" />
		<result column="PLUGIN_STATUS" jdbcType="DECIMAL" property="plugInStatus" />
	</resultMap>
	<sql id="Base_Column_List">
		TRACK_ID, PLUGIN_ID, STORE_ID, POS_ID, BATCH_ID,
		PLUGIN_STATUS, PLUGIN_CODE, STORE_NAME,
		POS_NAME, BATCH_CODE,
		BASE_TOOL_NAME, BASE_TOOL_MODEL,
		BASE_TOOL_SPEC,PLUGIN_DEPT_ID,
		PLUGIN_MAN_DATE,BATCH_CONFIRM_USER_ID,
		BATCH_CONFIRM_TIME,MAN_NAME

	</sql>
	<select id="selectPlugInTracksForList" parameterType="com.bpbj.entity.PlugInTrack"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from VIEW_BPBJ_PLUGIN_TRACK
		<where>
			<if test="plugInId != null">
				and PLUGIN_ID = #{plugInId}
			</if>
			<if test="batchId != null">
				and BATCH_ID = #{batchId}
			</if>
			<if test="plugInStatus != null">
				and PLUGIN_STATUS = #{plugInStatus}
			</if>
		</where>
		order by TRACK_ID 
	</select>
	<select id="selectPlugInTracksForObject" parameterType="com.bpbj.entity.PlugInTrack"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from VIEW_BPBJ_PLUGIN_TRACK
		<where>
			<if test="plugInId != null">
				and PLUGIN_ID = #{plugInId}
			</if>
			<if test="batchId != null">
				and BATCH_ID = #{batchId}
			</if>
		</where>
		order by TRACK_ID DESC
	</select>
	<select id="selectPlugInTracksForPage" parameterType="com.bpbj.entity.PlugInTrack"
		resultType="java.util.HashMap">
		SELECT * FROM ( SELECT A.*,ROWNUM num FROM (
		select
		<include refid="Base_Column_List" />
		from VIEW_BPBJ_PLUGIN_TRACK
		<where>
			<if test="plugInId != null">
				and PLUGIN_ID = #{plugInId}
			</if>
			<if test="batchId != null">
				and BATCH_ID = #{batchId}
			</if>
		</where>
		order by TRACK_ID
		) A WHERE ROWNUM<![CDATA[<=]]>(${currPage}*${pageSize})
		) WHERE num<![CDATA[>=]]>
		(1+(${currPage}-1)*${pageSize})
	</select>
	<select id="selectCountOfPlugInTracksForPage" parameterType="com.bpbj.entity.PlugInTrack"
		resultType="java.lang.Integer">
		select count(t.TRACK_ID) from VIEW_BPBJ_PLUGIN_TRACK t
		<where>
			<if test="plugInId != null">
				and PLUGIN_ID = #{plugInId}
			</if>
			<if test="batchId != null">
				and BATCH_ID = #{batchId}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="com.bpbj.entity.PlugInTrack">
		delete from
		BPBJ_PLUGIN_TRACK
		<where>
			<if test="plugInId != null">
				and PLUGIN_ID in (${plugInId})
			</if>
			<if test="trackId != null">
				and TRACK_ID = #{trackId}
			</if>
			<if test="batchId != null">
				and BATCH_ID = #{batchId}
			</if>
		</where>
	</delete>
	<insert id="insertSelective" parameterType="com.bpbj.entity.PlugInTrack">
		insert into BPBJ_PLUGIN_TRACK
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="trackId != null">
				TRACK_ID,
			</if>
			<if test="plugInId != null">
				PLUGIN_ID,
			</if>
			<if test="storeId != null">
				STORE_ID,
			</if>
			<if test="posId != null">
				POS_ID,
			</if>
			<if test="batchId != null">
				BATCH_ID,
			</if>
			<if test="plugInStatus != null">
				PLUGIN_STATUS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="trackId != null">
				BPBJ_PLUGIN_TRACK_SEQ.nextval,
			</if>
			<if test="plugInId != null">
				#{plugInId,jdbcType=DECIMAL},
			</if>
			<if test="storeId != null">
				#{storeId,jdbcType=DECIMAL},
			</if>
			<if test="posId != null">
				#{posId,jdbcType=DECIMAL},
			</if>
			<if test="batchId != null">
				#{batchId,jdbcType=DECIMAL},
			</if>
			<if test="plugInStatus != null">
				#{plugInStatus,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.bpbj.entity.PlugInTrack">
		update BPBJ_PLUGIN_TRACK
		<set>
			<if test="plugInStatus != null">
				PLUGIN_STATUS = #{plugInStatus,jdbcType=DECIMAL},
			</if>
		</set>
		<where>
			<if test="batchId != null">
				and BATCH_ID = #{batchId}
			</if>
		</where>
	</update>
</mapper>